<div class="dashboard-wrapper">
  <div class="header-section">
      <div mat-card-avatar>
        <button mat-icon-button (click)="voltar()" matTooltip="Voltar" class="btn-back">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
    <h1 class="titulo">Visão Geral do Restaurante</h1>
    <button mat-stroked-button (click)="carregarDados()" color="primary" [disabled]="carregando()">
  <mat-icon [class.spinner]="carregando()">refresh</mat-icon>
  {{ carregando() ? 'Atualizando...' : 'Atualizar' }}
</button>
  </div>

  <div class="grid-kpis" *ngIf="dadosKpi() as info">

    <mat-card class="card-item faturamento">
      <mat-card-content>
        <div class="icon-box">
          <mat-icon>monetization_on</mat-icon>
        </div>
        <div class="info">
          <p class="label">Faturamento Total</p>
          <h2 class="valor">{{ info.totalVendas | currency:'BRL' }}</h2>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-item pedidos">
      <mat-card-content>
        <div class="icon-box">
          <mat-icon>shopping_cart</mat-icon>
        </div>
        <div class="info">
          <p class="label">Total de Pedidos</p>
          <h2 class="valor">{{ info.quantidadePedidos }}</h2>
        </div>
      </mat-card-content>
    </mat-card>


    <mat-card class="full-width card-status">
      <mat-card-header>
        <mat-card-title>Fluxo de Pedidos por Status</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="status-grid">
          <div *ngFor="let status of statusFormatados" class="status-box">
            <span class="status-nome">{{ status[0] }}</span>
            <span class="status-count">{{ status[1] }}</span>
            <div class="status-indicator" [attr.data-status]="status[0]"></div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
